Initializes libraries (pandas, numpy, matplotlib, and seaborn)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn import metrics
plt.style.use('ggplot')
pd.set_option('display.max_columns', 200)
from scipy import stats

Loads data from a GitHub URL.

In [2]:
url='https://raw.githubusercontent.com/nahdes/TenxWeek0/refs/heads/main/notebooks/togo-dapaong_qc.csv'
data_frame = pd.read_csv(url)

Displaying  the shape of the dataset

In [3]:
data_frame.shape

(525600, 19)

Displays the first few rows of the dataset.

In [4]:
data_frame.head

<bound method NDFrame.head of                Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
0       2021-10-25 00:01 -1.3  0.0  0.0   0.0   0.0  24.8  94.5  0.9     1.1
1       2021-10-25 00:02 -1.3  0.0  0.0   0.0   0.0  24.8  94.4  1.1     1.6
2       2021-10-25 00:03 -1.3  0.0  0.0   0.0   0.0  24.8  94.4  1.2     1.4
3       2021-10-25 00:04 -1.2  0.0  0.0   0.0   0.0  24.8  94.3  1.2     1.6
4       2021-10-25 00:05 -1.2  0.0  0.0   0.0   0.0  24.8  94.0  1.3     1.6
...                  ...  ...  ...  ...   ...   ...   ...   ...  ...     ...
525595  2022-10-24 23:56 -0.8  0.0  0.0   0.0   0.0  25.2  53.8  0.0     0.0
525596  2022-10-24 23:57 -0.9  0.0  0.0   0.0   0.0  25.3  53.5  0.0     0.0
525597  2022-10-24 23:58 -1.0  0.0  0.0   0.0   0.0  25.3  53.4  0.0     0.0
525598  2022-10-24 23:59 -1.1  0.0  0.0   0.0   0.0  25.4  53.5  0.0     0.0
525599  2022-10-25 00:00 -1.2  0.0  0.0   0.0   0.0  25.4  52.3  0.0     0.0

        WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB  \
0           0.4  227.6      1.1  977         0            0.0   24.7   24.4
1           0.4  229.3      0.7  977         0            0.0   24.7   24.4
2           0.3  228.5      2.9  977         0            0.0   24.7   24.4
3           0.3  229.1      4.6  977         0            0.0   24.7   24.4
4           0.4  227.5      1.6  977         0            0.0   24.7   24.4
...         ...    ...      ...  ...       ...            ...    ...    ...
525595      0.0    0.0      0.0  977         0            0.0   24.3   24.0
525596      0.0    0.0      0.0  977         0            0.0   24.3   24.0
525597      0.0    0.0      0.0  977         0            0.0   24.2   23.9
525598      0.0    0.0      0.0  977         0            0.0   24.1   23.8
525599      0.0    0.0      0.0  977         0            0.0   24.1   23.8

        Comments
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
525595       NaN
525596       NaN
525597       NaN
525598       NaN
525599       NaN

[525600 rows x 19 columns]>

Displays the data types of the columns

In [5]:
data_frame.dtypes

Timestamp         object
GHI              float64
DNI              float64
DHI              float64
ModA             float64
ModB             float64
Tamb             float64
RH               float64
WS               float64
WSgust           float64
WSstdev          float64
WD               float64
WDstdev          float64
BP                 int64
Cleaning           int64
Precipitation    float64
TModA            float64
TModB            float64
Comments         float64
dtype: object

Listing  all column names.

In [6]:
data_frame.columns

Index(['Timestamp', 'GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS',
       'WSgust', 'WSstdev', 'WD', 'WDstdev', 'BP', 'Cleaning', 'Precipitation',
       'TModA', 'TModB', 'Comments'],
      dtype='object')

Computes summary statistics for numeric columns

In [7]:
summary_stats = data_frame.describe()  # Summary of all numeric columns
print(summary_stats)

                 GHI            DNI            DHI           ModA  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      230.555040     151.258469     116.444352     226.144375
std       322.532347     250.956962     156.520714     317.346938
min       -12.700000       0.000000       0.000000       0.000000
25%        -2.200000       0.000000       0.000000       0.000000
50%         2.100000       0.000000       2.500000       4.400000
75%       442.400000     246.400000     215.700000     422.525000
max      1424.000000    1004.500000     805.700000    1380.000000

                ModB           Tamb             RH             WS  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      219.568588      27.751788      55.013160       2.368093
std       307.932510       4.758023      28.778732       1.462668
min         0.000000      14.900000       3.300000       0.000000
25%         0.000000      24.200000      26.500000       1.400000
50%         4.300000      27.200000      59.300000       2.200000
75%       411.000000      31.100000      80.800000       3.200000
max      1367.000000      41.400000      99.800000      16.100000

              WSgust        WSstdev             WD        WDstdev  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean        3.229490       0.557740     161.741845      10.559568
std         1.882565       0.268923      91.877217       5.915490
min         0.000000       0.000000       0.000000       0.000000
25%         1.900000       0.400000      74.800000       6.900000
50%         2.900000       0.500000     199.100000      10.800000
75%         4.400000       0.700000     233.500000      14.100000
max        23.100000       4.700000     360.000000      86.900000

                  BP       Cleaning  Precipitation          TModA  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      975.915242       0.000535       0.001382      32.444403
std         2.153977       0.023116       0.026350      10.998334
min       968.000000       0.000000       0.000000      13.100000
25%       975.000000       0.000000       0.000000      23.900000
50%       976.000000       0.000000       0.000000      28.400000
75%       977.000000       0.000000       0.000000      40.600000
max       983.000000       1.000000       2.300000      70.400000

               TModB  Comments
count  525600.000000       0.0
mean       33.543330       NaN
std        12.769277       NaN
min        13.100000       NaN
25%        23.600000       NaN
50%        28.400000       NaN
75%        43.000000       NaN
max        94.600000       NaN

Filters numeric data columns.

In [8]:
# Select only numeric columns
numeric_data = data_frame.select_dtypes(include=['number'])

# Calculate median
median_values = numeric_data.median()
print("Median Values:\n", median_values)

Median Values:
 GHI                2.1
DNI                0.0
DHI                2.5
ModA               4.4
ModB               4.3
Tamb              27.2
RH                59.3
WS                 2.2
WSgust             2.9
WSstdev            0.5
WD               199.1
WDstdev           10.8
BP               976.0
Cleaning           0.0
Precipitation      0.0
TModA             28.4
TModB             28.4
Comments           NaN
dtype: float64

Selects specific columns for further analysis

In [9]:
df = data_frame[['Timestamp', 'GHI', 'DNI', 'DHI',
            'ModA', 'ModB', 
            'Tamb', 'RH', 'WS', 'WSgust', 'WSstdev','Cleaning','WD',
            #'WDstdev', 'BP', 'Comments',
            'Precipitation','TModA', 'TModB',]].copy()

Displays selected column names.

In [10]:
df.columns

Index(['Timestamp', 'GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS',
       'WSgust', 'WSstdev', 'Cleaning', 'WD', 'Precipitation', 'TModA',
       'TModB'],
      dtype='object')